In [1]:
#array handling
import numpy as np
import pandas as pd

#menggunakan format seperti ini karena kita sering menggunakan Series dan DataFrame
#kalau tidak import Series dan DataFrane, maka tulisnya harus pd.Series atau pd.DataFrame terus
from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

#kegunaan dari webbrowser adalah hanya untuk membuka website, bukan untuk melakukan pd.read_clipboard()
#jadi kalau kita membuka situs web lain, dan melakukan copy paste diluar situs variable website, maka bisa
webbrowser.open(website)

True

In [16]:
#pd.read_clipboard() tidak hanya dilakukan untuk copy paste yang ada di variable website, di variable lain juga bisa
#penulis pernah melakukan copy paste di website lain
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [17]:
#masih belum diketahui kenapa tabel playoffs tidak bisa. Cuma memang ada beberapa tabel yang tidak bisa
#asumsi karena beda format yang diberikan 

#nfl_playoffs = pd.read_clipboard()

In [18]:
#nfl_frame merupakan dataframe
#dataframe itu seperti spreadsheet

#Rank s/d Division merupakan kolom
#kolom sebelum Rank, yang tidak mempunyai nama, merupakan index
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [19]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [20]:
#Memanggil column ada beberapa cara: 

#Cara pertama adalah dengan langsung memanggil columns
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [21]:
#cara kedua adalah memakai kurung siku
nfl_frame['First NFL Season']

0    1960
1    1921
2    1960
3    1920
4    1996
Name: First NFL Season, dtype: int64

In [22]:
nfl_frame['Rank']

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [23]:
#untuk memanggil kolom yang punya lebih dari satu kata, tentunya pakai cara dengan kurung siku

In [24]:
#melihat spesifik kolom yang lebih dari satu
DataFrame(nfl_frame, columns=['Rank', 'Team', 'First NFL Season'])

   Rank                  Team  First NFL Season
0     1        Dallas Cowboys              1960
1     2     Green Bay Packers              1921
2     3  New England Patriots              1960
3     4         Chicago Bears              1920
4     5      Baltimore Ravens              1996

In [25]:
#kalau memanggil kolom yang sebelumnya tidak ada di DataFrame yang asli, maka akan menampilkan hasil NaN
DataFrame(nfl_frame, columns=['Rank', 'Team', 'First NFL Season','Total Games'])

   Rank                  Team  First NFL Season  Total Games
0     1        Dallas Cowboys              1960          NaN
1     2     Green Bay Packers              1921          NaN
2     3  New England Patriots              1960          NaN
3     4         Chicago Bears              1920          NaN
4     5      Baltimore Ravens              1996          NaN

In [26]:
#Emang sih, datanya cuma ada 5 baris, tapi kalau kita punya banyak data dan mau melihat 5 baris pertama, bisa menggunakan .head()
nfl_frame.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [27]:
#cek 3 baris pertama
nfl_frame.head(3)

#kalau cek 2 baris pertama bisa menggunakan nfl_frame.head(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East

In [39]:
#mengambil dataframe nfl dengan sumber yang sama namun dengan baris yang lebih banyak
nfl_frame2 = pd.read_clipboard()

In [40]:
nfl_frame2

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [41]:
nfl_frame2.head()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [42]:
#defaultnya .head() memang 5, cuma kita juga bisa mengambil data yang lebih besar dari 5
nfl_frame2.head(6)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East

In [43]:
# .tail() mengambil baris paling akhir, defaultnya juga 5
nfl_frame2.tail()

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [44]:
nfl_frame2.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [45]:
nfl_frame2.tail(6)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [ ]:
#mengambil baris spesifik bisa menggunakan index

#ternyata .ix sudah deprecated alias sudah tidak digunakan lagi, kita seharusnya bisa menggunakan .loc atau .iloc
#nfl_frame2.ix[4]

#nfl_frame2.iloc[4]
#nfl_frame2.iloc[4:6]

#nfl_frame2.iloc[4:6]

#selengkapnya di: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html

#BAGIAN INI BELUM  SELESAI

In [46]:
nfl_frame2

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [47]:
nfl_frame2.iloc[4]

Rank                               5
Team                Baltimore Ravens
GP                               384
Won                              214
Lost                             169
Tied                               1
Pct.                           0.559
First NFL Season                1996
Division                   AFC North
Name: 4, dtype: object

In [48]:
nfl_frame2.loc[4]

Rank                               5
Team                Baltimore Ravens
GP                               384
Won                              214
Lost                             169
Tied                               1
Pct.                           0.559
First NFL Season                1996
Division                   AFC North
Name: 4, dtype: object

In [50]:
#perbedaan antara loc dan iloc: loc adalah untuk index yang bersifat label dan iloc adalah yang bersifat integer
#tidak ada command nfl_frame2[index] untuk menentukan baris

nfl_frame2.loc[1:3]

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North

In [51]:
nfl_frame2.iloc[1:3]

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East

In [52]:
#kalau iloc slicing index angka terakhir tidak diambil, kalau .loc diambil

## Mulai sekarang akan menggunakan nfl_frame2

In [54]:
#tidak ada stadium, karena memang di kolom tidak ada 
DataFrame(nfl_frame2,columns=['Rank', 'Team', 'Stadium'])

   Rank                  Team  Stadium
0     1        Dallas Cowboys      NaN
1     2     Green Bay Packers      NaN
2     3  New England Patriots      NaN
3     4         Chicago Bears      NaN
4     5      Baltimore Ravens      NaN
5     6        Miami Dolphins      NaN
6     7     Minnesota Vikings      NaN
7     8   San Francisco 49ers      NaN
8     9       New York Giants      NaN
9    10        Denver Broncos      NaN

In [61]:
#memasukkan value ke dalam kolom stadium
nfl_frame2['Stadium'] = "Levi's Stadium"

#semua stadium mempunyai value Levi's Stadium, karena cuma memasukkan value Levi's Stadium
nfl_frame2

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,Levi's Stadium
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,Levi's Stadium
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,Levi's Stadium
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,Levi's Stadium
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,Levi's Stadium
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,Levi's Stadium
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,Levi's Stadium

In [64]:
#perhatikan bahwa np.arange artinya memanggil array dari 0-10 dengan index juga sama
#array tersebut dimasukkan ke dalam DataFrame di kolom Stadium

#kesimpulan: jika kami memasukkan array sepanjang 10 elemen ke dalam kolom apapun (tidak hanya stadium), maka valuenya juga berubah
nfl_frame2['Stadium'] = np.arange(10)
nfl_frame2

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,6
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,7
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,8
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,9

In [69]:
#mengambil sampel lebih kecil karena ukuran 10 terlalu banyak 
frame_nfl = nfl_frame2.copy().iloc[0:6]
frame_nfl

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,5

In [74]:
#memasukkan series ke dalam dataframe

#fun fact: kutipnya bisa beda untuk per elemen
stadiums = Series(["Levis's Stadium", 'AT&T Stadium'], index=[4,0])
stadiums

4    Levis's Stadium
0       AT&T Stadium
dtype: object

In [75]:
frame_nfl['Stadium'] = stadiums
frame_nfl

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,Levis's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN

In [78]:
#mengubah jumlah menang dengan menggunakan slicing, tapi mendapat warning
#asumsi saya adalah karena yang saya lakukan adalah slicing dan bukan copy. jadi hal itu berbeda
#mungkin bisa dibilang gak best practice (?)
frame_nfl['Won'].iloc[4] = 23

E:\Anaconda\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [79]:
frame_nfl

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,23,169,1,0.559,1996,AFC North,Levis's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,NaN

In [88]:
#syntax bisa 12 saja tanpa kurung siku karena elemen yang dimasukkan tunggal
tied = Series(12, index=[1])
tied

1    12
dtype: int64

In [90]:
#menarik. awalnya saya kira tied, cuma mengubah satu elemen saja yaitu yang dipilih, ternyata mengubah semua elemen
#semua kolom Tied menjadi NaN karena variabel tied yang didalamnya cuma ada value 12 dan index 1

#REVISITED: Define Series cuma bisa memasukkan nilai, tidak bisa memasukkan kolom
#memasukkan kolom menggunakan command lain, bukan Series(___)
frame_nfl['Tied'] = tied
frame_nfl

#jadi solusi paling baik untuk mengubah spesifik elemen adalah menggunakan iloc/loc?

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,NaN,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,12.0,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,NaN,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,NaN,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,23,169,NaN,0.559,1996,AFC North,Levis's Stadium
5,6,Miami Dolphins,832,457,371,NaN,0.552,1966,AFC East,NaN

In [92]:
#menghapus kolom 
del frame_nfl['Tied']

KeyError: 'Tied'

In [93]:
#sudah dihapus
frame_nfl

,Rank,Team,GP,Won,Lost,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,23,169,0.559,1996,AFC North,Levis's Stadium
5,6,Miami Dolphins,832,457,371,0.552,1966,AFC East,NaN

In [94]:
#bagaimana kalau mau menghapus satu tabel? apakah command del bisa dilakukan?
nfl_del = frame_nfl.copy()
nfl_del

,Rank,Team,GP,Won,Lost,Pct.,First NFL Season,Division,Stadium
0,1,Dallas Cowboys,914,520,388,0.572,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,0.567,1921,NFC North,NaN
2,3,New England Patriots,916,512,395,0.564,1960,AFC East,NaN
3,4,Chicago Bears,"1,402",769,591,0.563,1920,NFC North,NaN
4,5,Baltimore Ravens,384,23,169,0.559,1996,AFC North,Levis's Stadium
5,6,Miami Dolphins,832,457,371,0.552,1966,AFC East,NaN

In [95]:
del nfl_del

In [97]:
#ternyata bisa
nfl_del

NameError: name 'nfl_del' is not defined

In [100]:
#membuat dataframe dari dictionary 
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000, 3880000, 8400000]}
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [103]:
#memasukkan dictionary tsb ke dalam dataframe
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [104]:
#dokumentasi lengkap DataFrame: http://pandas-docs.github.io/pandas-docs-travis/reference/frame.html

In [ ]:
#NB: DI SINI BELUM ADA CARA MENAMBAH BARIS. UNTUK MELIHAT BAGAIMANA CARA MENAMBAH BARIS, LIHAT FILE SUMMARY STATISTICS